@charset "utf-8";

/* animation */
@keyframes fadeIn{
    from {
        opacity:0
    }
}

@keyframes mainUp{
    from {
        opacity: 0;
        transform:translate(-50%,40px);
    }
}

@keyframes newSub {
    from {
        height: 0px;
    }
}

@keyframes newSub2 {
    from {
        opacity: 0;
        transform:translateY(20px);
    }
}

@keyframes moveLft {
    to {
        opacity: 1;
        transform:translateX(0px);
    }
}

@keyframes moveRgt {
    to {
        opacity: 1;
        transform:translateX(0px);
    }
}

/* HEADER */
.header_top {
    width: 100%;
    height: 100%;
}

/* LOGO */
.header_top h1 {
    position: fixed;
    top: 25px;
    width: 80px;
    height: 44px;
    left: 8%;
    z-index: 100;
}

.header_top h1 a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/logo.png) no-repeat center/contain;
}

/* TRIDENT */
.trident {
    position: fixed;
    width: 26px;
    height: 22px;
    right: 8%;
    top: 35px;
    cursor: pointer;
    z-index: 100;
}

.trident>span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #555;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    z-index: 101;
}

.trident>span:nth-child(1) {
    top: 0;
}

.trident>span:nth-child(2) {
    top: 50%;
    margin-top: -1px;
}

.trident>span:nth-child(3) {
    bottom: 0;
}

.trident>span:last-child {
    margin-bottom: 0;
}

.trident.on span:nth-child(2){
    opacity: 0;
}

.trident.on span:nth-child(1){
    top: 50%;
    background: #fff;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
}

.trident.on span:nth-child(3){
    bottom: 50%;
    background: #fff;
    -webkit-transform: translateY(50%) rotate(-45deg);
    -ms-transform: translateY(50%) rotate(-45deg);
    -o-transform: translateY(50%) rotate(-45deg);
    transform: translateY(50%) rotate(-45deg);
}

/* NAVIGATION */
.nav_wrap {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    padding-left: 8%;
    background: rgba(161,215,130,0.8);
    z-index: 99;
}

.gnb {
    position: absolute;
    width: 68%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.gnb li {
    width: 100%;
    line-height: 50px;
    text-indent: 3rem;
    margin: 20px 0;
}

.gnb li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 4rem;
    font-weight: 800;
    color: #fff;
}

.gnb li a:hover {
    color: #f8eb3c;
}

.gnb_bottom {
    position: absolute;
    float: left;
    width: 200px;
    left: 8%;
    bottom: 30px;
    z-index: 100;
}

.gnb_sns {
    width: 140px;
    height: 40px;
    margin-bottom: 20px;
}

.gnb_sns li {
    float: left;
    width: 40px;
    height: 100%;
    margin-right: 10px;
}

.gnb_sns li:last-child {
    margin-right: 0;
}

.gnb_sns li a {
    display: block;
    widows: 100%;
    height: 100%;
}

.gnb_sns li:nth-child(1)>a {
    background: url(../img/facebook.png) no-repeat center/contain;
}

.gnb_sns li:nth-child(2)>a {
    background: url(../img/twitter.png) no-repeat center/contain;
}

.gnb_sns li:nth-child(3)>a {
    background: url(../img/insta.png) no-repeat center/contain;
}

.gnb_bottom small {
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;
}

/* MAIN */
.main_con {
    float: left;
    width: 100%;
    overflow: hidden;
}

.main_con section>.con_inner {
    float: left;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 0px;
}

/* VISUAL */
.visual {
    position: relative;
    width: 100%;
    height: 485px;
}

.m_bg_green {
    position: absolute;
    top: -241px;
    left: -125px;
    width: 400px;
    height: 503px;
    transform: rotate(29deg);
    background: url(../img/bg_green.png) no-repeat center/contain;
}

.visual_txt {
    position: absolute;
    width: 100%;
    top: 89px;
    left: 0;
    z-index: 3;
    text-align: center;
}

.visual_txt b {
    font-size: 6.5rem;
    font-weight: 800;
    color: #fff;
    animation: fadeIn 2s ease 0s backwards;
}

.visual_txt p {
    font-size: 1.7rem;
    color: #2a7560;
    margin: 1rem 0 21rem 0;
    line-height: 22px;
    animation: fadeIn 2s ease 0.5s backwards;
}

/* MORE BOTTON */
.more {
    position: relative;
    display: block;
    width: 45.73%;
    height: 31px;
    line-height: 31px;
    border-radius: 100px;
    background: #fff;
    text-align: center;
    font-size: 1.3rem;
    margin-left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.main_more {
    height: 37px;
    line-height: 33px;
    border-radius: 100px;
    background: linear-gradient(to right top, #a1d782, #f8eb3c);
    padding: 2px;
}

.main_more>span {
    display: inline-block;
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    z-index: 11;
}

.more:hover {
    transform: translate(-50%, 2px);
}

.green_ice {
    position: absolute;
    top: 198px;
    left: 50%;
    transform: translateX(-50%);
    width: 83%;
    max-width: 366px;
    height: auto;
    z-index: 2;
    animation: mainUp 1.5s ease 1s backwards;
}

.green_ice img {
    width: 100%;
    height: auto;
}

/* BEST */

.best {
    position: relative;
    width: 100%;
    height: 825.5px;
    padding-top: 160px;
    background: url(../img/best_bg.png) no-repeat center/cover;
}

.bg_orange {
    position: absolute;
    top: -36%;
    right: -42%;
    width: 103%;
    height: 41%;
    background: url(../img/bg_orange.png) no-repeat 0 0/contain;
    z-index: 1;
}

/* CIRCLE TEXT */
.circle_txt {
    position: absolute;
    top: 722px;
    right: -167px;
    width: 250px;
    height: 250px;
    background: url(../img/circle_color.png) no-repeat 0 0 /contain;
    -webkit-animation: rotation 10S infinite linear;

}

.circle_white {
    position: absolute;
    top: -105px;
    background: url(../img/circle_white.png) no-repeat 0 0 /contain;
    z-index: 1;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}

/* MARQUEE */
.jumbo_marquee_wrap {
    overflow: hidden;
}

.jumbo_marquee {
    white-space: nowrap;
    line-height: 1;
}

.jumbo_marquee_el > span {
    display: inline-block;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: Marquee;
    animation-name: Marquee;
}

.jumbo_marquee_el > span > * {
    margin-right: 56px;
}

.jumbo_marquee_el i {
    font-size: 10rem;
    font-style: normal;
    font-weight: 800;
    color: #fff;
}

@-webkit-keyframes Marquee {
    from {-webkit-transform: translateX(0%);transform: translateX(0%);}
    to {-webkit-transform: translateX(-100%);transform: translateX(-100%);}
}

@keyframes Marquee {
    from {-webkit-transform: translateX(0%);transform: translateX(0%);}
    to {-webkit-transform: translateX(-100%);transform: translateX(-100%);}
}

/* BEST SLIDE */
.best .con_inner {
    padding-top: 120px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.best_list {
    width: 100%;
}

.best_list .best_item {
    position: relative;
    width: 85% !important;
    height: 330px;
    overflow: visible;
    text-align: center;
    padding: 0 20px;
    z-index: 1;
}

.best_list .best_item>a {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: #fff;
    padding-top: 160px;
    padding-left: 24px;
    padding-right: 24px;
    overflow: visible;
    z-index: 2;
}

.best_list .slick-center {
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.best_list .best_item img {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 225px;
    height: auto;
    z-index: 2;
}

.best_list .best_item b {
    font-size: 4rem;
    font-weight: 800;
    color: #f8eb3c;
}

.best_list .best_item h3 {
    font-size: 2rem;
    font-weight: 700;
    color: #ffa300;
    margin-top: 10px;
    margin-bottom: 25px;
}

.best_list .best_item p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 20px;
}

/* NEW */
.new {
    position: relative;
    width: 100%;
    height: 1854px;
    overflow: hidden;
}

.new_title {
    position: relative;
    width: 100%;
    height: 12%;
    padding-top: 100px;
    text-align: center;
    background: url(../img/new_title.png) no-repeat 0px 114%/cover;
    transform: translate3d(0, 0, 0);
}

.wave {
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 50%;
    background: #a1d782;
    width: 1300px;
    height: 1300px;
    margin-left: -650px;
    margin-top: -999px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    z-index: 1;
    animation: drift 10s infinite linear;
}

.wave.-three {
    animation: drift 11s infinite linear;
}

.wave.-two {
    animation: drift 13s infinite linear;
    opacity: .2;
    background: #a1d782;
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

.new_title_con {
    position: absolute;
    width: 100%;
    float: left;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.new_title h3 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 19px;
    color: #fff;
}

.new_title .more {
    width: 35%;
    min-width: 200px;
    background: #2a7560;
    color: #fff;
    margin-left: 50%;
    transform: translateX(-50%);
}

.sub_title {
    position: absolute;
    top: 291px;
    left: 50%;
    width: 100%;
    height: 200px;
    transform: translateX(-50%);
    z-index: 2;
}

.sub_title span {
    display: block;
    width: 4px;
    height: 50px;
    background: #2a7560;
    border-radius: 5px;
    margin-left: 50%;
    margin-bottom: 24px;
    transform: translateX(-50%);
}

.sub_title span.activeAni {
    animation: newSub .5s ease 0s backwards;
}

.sub_title p {
    font-size: 3.5rem;
    font-weight: 800;
    color: #2a7560;
}

.sub_title p.activeAni {
    animation: newSub2 .5s ease .5s backwards;
}

.bg_pink {
    position: absolute;
    top: 400px;
    right: -200px;
    width: 430px;
    height: 300px;
    background: url(../img/bg_pink.png) no-repeat 0 0/contain;
    z-index: 1;
}

.bg_ngreen {
    position: absolute;
    top: 800px;
    left: -400px;
    width: 600px;
    height: 400px;
    background: url(../img/bg_ngreen.png) no-repeat 0 0/contain;
    z-index: 1;
}

.bg_yellow {
    position: absolute;
    top: 1300px;
    right: -300px;
    width: 600px;
    height: 400px;
    background: url(../img/bg_yellow.png) no-repeat 0 0/contain;
    z-index: 1;
}

.point_img1 {
    position: absolute;
    top: 470px;
    right: -61px;
    width: 208px;
    height: 171px;
    background: url(../img/new_sparkle.png) no-repeat 0 0/contain;
    z-index: 1;
}

.point_img2 {
    position: absolute;
    top: 900px;
    left: -28px;
    width: 269px;
    height: 245px;
    background: url(../img/new_sparkle2.png) no-repeat 0 0/contain;
    z-index: 1;
}

.point_img3 {
    position: absolute;
    top: 1373px;
    right: -50px;
    width: 200px;
    height: 260px;
    background: url(../img/new_sparkle3.png) no-repeat 0 0/contain;
    z-index: 1;
}

.new_list {
    position: relative;
    float: left;
    width: 100%;
    z-index: 3;
}

.new .con_inner {
    padding-top: 310px;
}

.n_con2 {
    text-align: left !important;
}

.n_con3 {
    margin-bottom: 85px;
}

.new_list li {
    float: left;
    position: relative;
    width: 100%;
    height: 310px;
    margin-top: 20px;
    margin-bottom: 144px;
    text-align: right;
    opacity: 0;
}

.new_list li:nth-child(1).activeAni {
    transform:translateX(100px);
    animation: moveLft 1.5s ease 0s forwards;
}

.new_list li:nth-child(3).activeAni {
    transform:translateX(100px);
    animation: moveLft 1.5s ease 0s forwards;
}

.new_list li:nth-child(2).activeAni {
    transform:translateX(-100px);
    animation: moveRgt 1.5s ease 0s forwards;
}

.n_con_img {
    position: absolute;
    top: -41%;
    left: -10%;
    width: 90%;
    height: 280px;
    border-radius: 30px;
    opacity: 1;
    z-index: 3;
}

.n_con1 .n_con_img {
    background: #f6dac4 url(../img/new_pink_m.jpg) no-repeat center/249%;
}

.n_con2 .n_con_img {
    left: initial;
    right: -10%;
    background: #aee8b6 url(../img/new_green_m.jpg) no-repeat center/245%;
}

.n_con3 .n_con_img {
    background: #f3e779 url(../img/new_yellow_m.jpg) no-repeat center/249%;
}

.n_con_wrap {
    position: absolute;
    top: 0px;
    left: 8%;
    float: right;
    width: 80%;
    height: 100%;
    padding-top: 73px;
    padding-right: 25px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 20px 20px 20px rgba(121,121,121,0.1);
    cursor: pointer;
    z-index: 5;
}

.n_con_wrap .n_con_txt {
    position: relative;
    z-index: 4;
}

.n_con2 .n_con_wrap {
    left: initial;
    right: 10%;
    padding-right: inherit;
    padding-left: 25px;
}

.n_con_wrap b {
    font-size: 6rem;
    font-weight: 800;
    color: #f78e56;
    top: -257px;
    left: 0;
}

.n_con_wrap h3 {
    font-size: 2rem;
    font-weight: 700;
    color: #f78e56;
    margin-bottom: 15px;
}

.n_con_wrap p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 15px;
}

.n_con2 b,
.n_con2 h3
{
    color: #2a7560 !important;
}

.n_con3 b,
.n_con3 h3
{
    color: #ffa300;
}

.n_con_wrap .more {
    width: 70%;
    height: 28px;
    max-width: 170px;
    line-height: 28px;
    background: #f78e56;
    color: #fff;
    float: right;
    margin-left: 0px;
    transform: translate(0);
}

.n_con2 .more {
    float: left;
    background: #2a7560;
}

.n_con3 .more {
    background: #ffa300;
}

/* FOOTER */
footer {
    position: relative;
    float: left;
    width: 100%;
    height: 150px;
    background: #a1d782;
    padding: 55px 8% 0;
    overflow: hidden;
    text-align: center;
}

.footer_left {
    float: left;
    width: 100%;
}

.footer_link {
    float: left;
    width: 354px;
    margin-left: 50%;
    transform: translateX(-26%);
}

.footer_link li {
    position: relative;
    float: left;
    font-size: 1.3rem;
    padding: 0 10px;
}

.footer_link li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: 700;
}

.footer_link li:last-child:before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #fff;
}

.footer_left>div {
    float: left;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.footer_left>div p,
.footer_left>div p>a,
.footer_left>div address,
.footer_left small {
    color: #fff;
}

.footer_left>div address {
    font-style: normal;
    margin-top: 5px;
}

.footer_left small {
    clear: both;
    font-size: 1rem;
}

.footer_right {
    float: right;
    width: 100%;
}

.footer_logo {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 20px;
}

.footer_logo a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/footer_logo.png) no-repeat center/contain;
}

.footer_sns {
    width: 100px;
    height: 25px;
    margin-top: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.footer_sns li {
    float: left;
    width: 26px;
    height: 100%;
    margin-right: 10px;
}

.footer_sns li:last-child {
    margin-right: 0;
}

.footer_sns li a {
    display: block;
    widows: 100%;
    height: 100%;
}

.footer_sns li:nth-child(1)>a {
    background: url(../img/facebook.png) no-repeat center/contain;
}

.footer_sns li:nth-child(2)>a {
    background: url(../img/twitter.png) no-repeat center/contain;
}

.footer_sns li:nth-child(3)>a {
    background: url(../img/insta.png) no-repeat center/contain;
}

.pc {
    display: none;
}


@media all and (min-width: 450px) {
    .bg_orange {
        top: -33%;
        right: -60%;
    }

    .visual .more {
        width: 35% !important;
    }

    .n_con1 .n_con_img {
        background: #f6dac4 url(../img/sandwich.jpg) no-repeat center/cover;
    }

    .n_con2 .n_con_img {
        left: initial;
        right: -10%;
        background: #aee8b6 url(../img/kebab.jpg) no-repeat center/cover;
    }

    .n_con3 .n_con_img {
        background: #f3e779 url(../img/cupcake.jpg) no-repeat center/cover;
    }

    .n_con_wrap {
        width: 55%;
    }
}

/* tablet */
@media all and (min-width: 768px) {
    .pc {
        display: block;
    }

    /* LOGO */
    .header_top h1 {
        width: 145px;
        height: 74px;
    }
    
    /* TRIDENT */
    .trident {
        width: 40px;
        height: 30px;
    }

    .trident>span:nth-child(2) {
        margin-top: -1.5px;
    }
    
    /* MAIN */
    .main_con {
        background: url(../img/bg_green.png) no-repeat; /* -390px -600px/878px auto */
    } 

    /* VISUAL */
    .visual {
        height: 970px;
    }

    .visual_txt {
        top: 175px;
    }

    .visual_txt b {
        font-size: 13rem;
    }

    .visual_txt p {
        font-size: 3rem;
        margin: 2rem 0 44rem 0;
        line-height: 35px;
    }

    /* MORE BOTTON */
    .more {
        height: 72px;
        line-height: 72px;
        font-size: 3rem;
    }

    .visual .more {
        width: 40% !important;
    }

    .green_ice {
        top: 380px;
        width: 100%;
        max-width: 693px;
    }
    
    /* BEST */

    .best {
        height: 1651px;
        padding-top: 330px;
        background: url(../img/best_bg.png) no-repeat center 0/cover;
    }

    .bg_orange {
        top: -420px;
        right: -182px;
        width: 690px;
        height: 622px;
    }

    /* CIRCLE TEXT */
    .circle_txt {
        top: 1500px;
        right: -200px;
        width: 400px;
        height: 400px;
    }

    .circle_white {
        top: -150px;
    }

    /* MARQUEE */
    .jumbo_marquee_el i {
        font-size: 20rem;
    }

    /* BEST SLIDE */
    .best .con_inner {
        padding-top: 160px;
    }

    .best_list .best_item {
        width: 95% !important;
        max-width: 465px;
        height: 662px;
    }

    .best_list .best_item>a {
        padding-top: 352px;
    }

    .best_list .best_item img {
        max-width: inherit;
    }

    .best_list .best_item b {
        font-size: 8rem;
    }

    .best_list .best_item h3 {
        font-size: 4rem;
    }

    .best_list .best_item p {
        font-size: 3rem;
        line-height: 40px;
    }

    .slick-prev:before,
    .slick-next:before {
        width: 98px;
        height: 98px;
    }

    .slick-dots {
        bottom: -8.5em;
    }

    .slick-dots li {
        width: 20px !important;
        height: 20px;
        margin: 0 10px;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 150px;
    }

    /* NEW */
    .new {
        height: 3653px;
    }

    .new_title {
        height: 765px;
        padding-top: 234px;
        background: url(../img/new_title.png) no-repeat 30% -200px/cover;
    }

    .wave {
        width: 3000px;
        height: 3000px;
        margin-left: -1500px;
        margin-top: -2350px;
    }

    .new_title h3 {
        font-size: 8rem;
        margin-bottom: 36px;
    }

    .new_title .more {
        width: 45% !important;
    }

    .sub_title {
        top: 665px;
    }

    .sub_title span {
        width: 5px;
        height: 100px;
        margin-bottom: 49px;
    }

    .sub_title p {
        font-size: 7rem;
    }

    .bg_pink {
        top: 800px;
        right: -400px;
        width: 860px;
        height: 600px;
    }

    .bg_ngreen {
        top: 1600px;
        left: -800px;
        width: 1200px;
        height: 800px;
    }

    .bg_yellow {
        top: 2600px;
        right: -600px;
        width: 1200px;
        height: 800px;
    }

    .point_img1 {
        top: 959px;
        right: -123px;
        width: 347px;
        height: 224px;
        transform: rotate(-64deg);
    }

    .point_img2 {
        top: 1750px;
        left: -20px;
        width: 469px;
        height: 345px;
    }

    .point_img3 {
        top: 2706px;
        right: -50px;
        width: 235px;
        height: 399px;
    }

    .new .con_inner {
        padding-top: 335px;
    }

    .new_list li {
        height: 620px;
        margin-bottom: 250px;
    }

    .n_con_img {
        top: -30%;
        height: 500px;
    }

    .n_con1 .n_con_img {
        background: #f6dac4 url(../img/sandwich.jpg) no-repeat center/cover;
    }

    .n_con2 .n_con_img {
        right: -10%;
        background: #aee8b6 url(../img/kebab.jpg) no-repeat center/cover;
    }

    .n_con3 .n_con_img {
        background: #f3e779 url(../img/cupcake.jpg) no-repeat center/cover;
    }

    .n_con2 .n_con_wrap {
        padding-left: 50px;
    }

    .n_con_wrap {
        width: 90%;
        padding-top: 172px;
        padding-right: 50px;
    }

    .n_con_wrap b {
        font-size: 12rem;
    }

    .n_con_wrap h3 {
        font-size: 4rem;
        margin-bottom: 30px;
    }

    .n_con_wrap p {
        font-size: 3rem;
        line-height: 40px;
        margin-bottom: 30px;
    }

    .n_con_wrap .more {
        height: 72px;
        max-width: 300px;
        line-height: 72px;
    }

    /* FOOTER */
    footer {
        height: 377px;
        padding: 130px 0 0 0;
    }

    .footer_link {
        width: 303px;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .footer_link li {
        font-size: 2.4rem;
    }

    .footer_left>div {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 2.2rem;
    }

    .footer_left small {
        float: left;
        font-size: 2rem;
        width: 100%;
    }

    .footer_logo {
        top: 60px;
        width: 100%;
        height: 45px;
    }

    .footer_sns {
        width: 210px;
        height: 64px;
        margin-top: 20px;
    }

    .footer_sns li {
        float: left;
        width: 62px;
        height: 100%;
        margin-right: 10px;
    }

    .footer_sns li:last-child {
        margin-right: 0;
    }

    .footer_link li:last-child:before {
        top: 2px;
        width: 2px;
        height: 22px;
    }

    .footer_sns li a {
        display: block;
        widows: 100%;
        height: 100%;
    }

    .footer_sns li:nth-child(1)>a {
        background: url(../img/facebook.png) no-repeat center/contain;
    }

    .footer_sns li:nth-child(2)>a {
        background: url(../img/twitter.png) no-repeat center/contain;
    }

    .footer_sns li:nth-child(3)>a {
        background: url(../img/insta.png) no-repeat center/contain;
    }
}

@media all and (min-width: 1024px) {

    .gnb li {
        margin: 0;
        line-height: 85px;
    }
 
    .gnb li a {
        font-size: 4rem;
    }

    .gnb_bottom {
        width: 100%;
    }

    .gnb_sns {
        width: 150px;
        height: 69px;
        margin-bottom: 0;
    }

    .gnb_sns li {
        width: 30%;
        margin-right: 5%;
    }

    .gnb_bottom small {
        font-size: 2.6rem;
    }

    /* visual  */
    .m_bg_green {
        top: -646px;
        left: -187px ;
        width: 878px;
        height: auto;
    }

    .visual_txt {
        top: 265px;
        text-align: left;
        padding-left: 8%;
    }

    .visual_txt b {
        font-size: 15rem;
    }

    .visual_txt p {
        margin: 2rem 0 4rem 0;
        line-height: 40px;
    }

    /* MORE BOTTON */
    .visual .more {
        max-width: 450px !important;
        margin-left: 0;
        transform: translateX(0);
    }

    .green_ice {
        top: 82px;
        width: 75%;
        height: 443px;
        max-width: 950px;
        left: initial;
        right: -205px;
        transform: translateX(0);
    }
    
    /* BEST SLIDE */
    .best .con_inner {
        padding-top: 160px;
    }

    .slick-dots {
        bottom: -5em;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 100px;
    }

    /* NEW */
    .new .con_inner {
        padding-top: 280px;
    }

    .new_title {
        background: url(../img/new_title.png) no-repeat 30% -200px/cover;
    }

    .wave {
        width: 5000px;
        height: 5000px;
        margin-left: -2500px;
        margin-top: -4450px;
    }

    .n_con_img {
        width: 55%;
        top: -15%;
        height: 100%;
        left: 50px;
        transform: translateX(0);
    }

    .n_con2 .n_con_img {
        left: inherit;
        right: 50px;
    }

    .n_con2 .n_con_wrap {
        padding-left: 50px;
    }

    .n_con_wrap {
        padding-top: 115px;
        padding-left: inherit;
        padding-right: 50px;
    }

    .n_con_wrap b {
        margin-right: -14px;
        font-size: 13rem;
    }

    .n_con_wrap h3 {
        font-size: 4.5rem;
        margin-bottom: 40px;
    }

    .n_con_wrap p {
        font-size: 2.8rem;
        line-height: 40px;
        margin-bottom: 40px;
    }

    .n_con_wrap .more {
        width: 339px;
        height: 57px;
        line-height: 57px;
    }

    /* FOOTER */
    footer {
        height: 300px;
        padding: 90px 8% 0;
    }

    .footer_left {
        width: 70%;
        text-align: left;
    }

    .footer_link {
        width: 303px;
        margin-left: 0;
        transform: translateX(0);
    }

    .footer_link li {
        padding: 0 20px 0 0;
    }

    .footer_link li:last-child:before {
        left: -10px;
        width: 2px;
        height: 22px;
    }

    .footer_logo {
        padding-right: 8%;
        top: 85px;
    }

    .footer_logo a {
        background: url(../img/footer_logo.png) no-repeat right/contain
    }

    .footer_right {
        width: auto;
        margin-top: 50px;
    }
}

@media all and (min-width: 1250px) {
    /* MAIN */
    .bg_orange {
        top: -420px;
        right: -182px;
        width: 778px;
        height: 669px;
    }
}

/* pc */
@media all and (min-width: 1300px){
    .header_top h1 {
        left: 11.8%;
    }

    .gnb {
        left: 10%;
    }

    .gnb_bottom {
        width: 100%;
        left: 11.8%;
    }

    .visual_txt {
        top: 265px;
        text-align: left;
        padding-left: 11.8%;
    }

    .green_ice {
        top: 161px;
        width: 48%;
        max-width: 652x;
        right: 11.8%;
    }

    .main_con section>.con_inner {
        padding-left: 11.8%;
        padding-right: 11.8%;
    }

    .n_con_img {
        top: -50px;
        left: 50px;
    }

    .point_img1 {
        position: absolute;
        top: 981px;
        right: 0px;
        width: 453px;
        height: 462px;
        background: url(../img/new_sparkle.png) no-repeat 0 0/contain;
        z-index: 1;
    }

    .point_img2 {
        position: absolute;
        top: 1800px;
        left: -100px;
        width: 572px;
        height: 690px;
        background: url(../img/new_sparkle2.png) no-repeat 0 0/contain;
        z-index: 1;
    }

    .point_img3 {
        position: absolute;
        top: 2700px;
        right: -50px;
        width: 478px;
        height: 806px;
        background: url(../img/new_sparkle3.png) no-repeat 0 0/contain;
        z-index: 1;
    }

    footer {
        height: 300px;
        padding: 90px 11.8% 0;
    }

    .footer_logo {
        padding-right: 12.2%;
    }
}

@media all and (min-width: 1700px){
    .visual_txt p {
        line-height: 40px;
    }

    .n_con_img {
        top: -80px;
        left: 80px;
    }

    .n_con2 .n_con_img {
        left: inherit;
        right: 80px;
    }

    .n_con_wrap {
        padding-right: 80px;
    }

}
